<section class="w3-container w3-padding-32" id="login">
  <form method="post" action="#">
    <div>
      <label>pseudo</label>
      <input type="text" class="w3-input w3-border" name="pseudo" maxlength="30" required>
      <br>
    </div>
    <div>
      <label>password</label>
      <input type="password" class="w3-input w3-border" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,256}" title="6 characteres minimum dont au moins un chiffre, une majuscule et une minuscule" required>
      <br>
    </div>
    <div class="submit">
      <button type="button" class="w3-button w3-black w3-section" onclick="">
        <i class="fa fa-paper-plane"></i>
        Send
      </button>
    </div>
  </form>
  <div>Forgot your password? 
    <a id="reinitBtn" href="#reinit" type="button" class="w3-button w3-black">recover your password</a>
  </div>
</section>
