<section class="w3-container w3-padding-32" id="password">
	<div class="w3-border-bottom w3-border-light-grey w3-padding-16">Change your password:</div>
	<form method="patch" action="/password">
		<div>
			<br>
			<label>password</label>
			<input type="password" class="w3-input w3-border" name="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="6 characteres minimum dont au moins un chiffre, une majuscule et une minuscule" required>
		</div>
		<div class="submit">
			<button type="submit" class="w3-button w3-black w3-section">
				<i class="fa fa-paper-plane w3-margin-right"></i>
				Send
			</button>
		</div>
	</form>
</section>
