<section class="w3-container w3-padding-32" id="reinit">
	<div class="w3-border-bottom w3-border-light-grey w3-padding-16">Enter your email:</div>
	<form method="post" action='/password'>
		<div>
			<label>email</label>
			<input type="email" name="email" required
											 class="w3-input w3-border">
			<br>
		</div>
		<div class="submit">
			<button class="w3-button w3-black w3-section" type="submit">
				<i class="fa fa-paper-plane w3-margin-right"></i>
				Send
			</button>
		</div>
	</form>
</section>
