<div id="settingsForm" class="w3-modal">
	<div class="w3-modal-content">
		<div class="w3-border-bottom">
			<button class="w3-margin-right w3-right w3-button w3-red w3-section" 
		   onclick="
	 document.getElementById('form').style.display='none';
	 document.getElementById('settingsForm').style.display='none'"
	 type="button">
				<i class="fas fa-times"></i>
			</button>
			<span href="#settings" class="w3-button w3-section w3-grey gg-post-it">Settings</span>
		</div>
		<section class="w3-container w3-padding-32" id="settings">
			<div class="w3-border-bottom w3-border-light-grey w3-padding-16">Modifier vos informations personnelles:</div>
			<form method="post" action="#settings">
				<div>
					<br>
					<label>pseudo</label>
					<input type="text" class="w3-input w3-border" name="pseudo" placeholder="pseudo" maxlength="30" required>
				</div>
				<div>
					<br>
					<label>email</label>
					<input type="email" class="w3-input w3-border" name="email" placeholder="email" required>
   <br>
				</div>
				<div>
					<label>notification mail </label>
					<input type="checkbox" name="alert">
				</div>
				<div class="submit">
					<button type="button" class="w3-button w3-black w3-section" onclick="ggForm(this, '/settings')">
						<i class="fa fa-paper-plane"></i>
						Send
					</button>
				</div>
			</form>
			<form method="post" action="#password">
				<div>
					<br>
					<label>password</label>
					<input type="password" class="w3-input w3-border" name="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="6 characteres minimum dont au moins un chiffre, une majuscule et une minuscule" required>
				</div>
				<div class="submit">
					<button type="button" class="w3-button w3-black w3-section" onclick="ggForm(this, '/password')">
						<i class="fa fa-paper-plane"></i>
						Send
					</button>
				</div>
			</form>
		</section>
	</div>
</div>
