<div id="camagru">
	<div class="w3-container w3-padding-32">
		<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><?= $view ?></h3>
	</div>
	<section class="w3-container w3-center" style="max-width:1024px;margin:auto">
		<div class="w3-row">
			<?php foreach ($listFilter as $filter): ?>

			<button onclick="display(this, '<?= $filter['title'] ?>')" id="btn_<?= $filter['title']?>" class="w3-button w3-black w3-col s<?= 2*$count ?> m<?= $count ?>">
				<p><?= $filter['title']?></p>
			</button>
			<?php endforeach; ?>

		</div>
		<div class="">
			<div id="">
				<video id="video" poster="" width="100%" autoplay></video>
				<?php foreach ($listFilter as $filter): ?>
				<img class="w3-hide" width="100%" id="<?= $filter['title'] ?>" src="<?= $filter['url'] ?>">
				<?php endforeach; ?>
			</div>
			<button id="snap" onclick="printNotif('il faut soit charger une image format png, soit activer la webcam, <.)', 200)" class="w3-button w3-red">Snap Photo</button>
			<form method="post" action="">
				<input type="file" class="w3-input" id="file" accept=".png"/>
			</form>
			<div id="prev">
			</div>
		</div>
	</section>
	<div class="w3-container w3-padding-32" id="pictures">
		<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Your Pictures</h3>
	</div>
	<section class="w3-row-padding" id="new">
			<canvas style="display:none" id="canvas" width="640" height="480"></canvas>
				<?php foreach ($pics as $pic): ?>
		<div class="w3-col l3 m6 w3-margin-bottom w3-button" onclick="if (confirm('Voulez Vous vraiment supprimer cette image?')){ggAjax('url=<?= $pic['url'] ?>', '/deletePic', deletePic)}" id="<?= $pic['url']?>">
			<div class="w3-display-container">
				<div class="w3-display-topleft w3-black w3-padding"><?= htmlspecialchars($pic['title'])?></div>
				<img style="width:100%" src="<?= $pic['url'] ?>" alt="<?= $pic['title']?>" title="<?= $pic['title']?>">
			</div>
		</div>
				<?php endforeach; ?>
	</section>
</div>
