<div class="w3-container w3-padding-32" id="pictures">
	<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
		<button id="launch" type="button" class="w3-button w3-grey" onclick="ggDestroy(this, 'carroussel', 'listPicsByDate');">Last</button>
		<button type="button" class="w3-button w3-grey" onclick="ggDestroy(this, 'carroussel', 'listPicsByLike');">Popular</button>
	</h3>
</div>
<div class="w3-row-padding">
	<section id="carroussel" class="w3-row-padding gg-wall" onscroll="ft_scroll(this)">
	</section>
</div>
