<div class="w3-container w3-padding-32">
	<div class="">
	<h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Auteur: <?= htmlspecialchars($elem['pseudo']) ?></h2>
		<p>le <?= htmlspecialchars($elem['date2']) ?></p>
		<img src="<?= '/'.htmlspecialchars($elem['url']) ?>"
	   alt="<?= htmlspecialchars($elem['title'])?>">
	<div>
		<span id="like">
			<?= htmlspecialchars($elem['nb_like']); ?> likes
		</span>

		<?php if (isset($_SESSION['pseudo'])): ?>

		<button type="button" class="w3-button w3-black" onclick="ggAjax(<?php echo '\'id='.$id.'\'' ?>, '/addLike', addLike)" id="likeButton">Like this</button>
		<span id="lol"></span>
		<div>
			<textarea class="text" class="w3-input w3-border"
			 rows="3" cols="50" placeholder="Troll this!"></textarea>
			<div class="submit">
				<button type="button" class="w3-button w3-black" onclick='addComment(<?= $elem["id"] ?>)'>
					<i class="fa fa-paper-plane"></i>
					Troller
				</button>
			</div>
		</div>

		<?php endif; ?>

	</div>
	</div>
	<div class="comment">

		<?php while ($com = $comment->fetch()): ?>

		<div>	
			<h3><?= htmlspecialchars($comment['pseudo'])?></h3>
			<p>le <?= htmlspecialchars($comment['date2'])?><br>
			<?= htmlspecialchars($commnent['content'])?></p>
		</div>
		<?php endwhile; ?>
	</div>
</div>
