.gg-header {
    margin-top: 56px;
    width: 100%;
    background-image: url("../img/2_1709494041.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 125px;
}

.gg-page-nav {
    position: fixed;
    top: 56px;
    right: 16px;
    width: 160px;
    z-index: 2;
    background-color: white;
}

@media only screen and (max-width: 480px) {
    .gg-header {
    }

		.gg-screen {
			max-width: 480px;
		}
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
    .gg-header {
    }

		.gg-screen {
			max-width: 480px;
		}
}

@media only screen and (min-width: 800px) {
    .gg-header {
    }

    .gg-book {
        height: 700px;
        overflow: auto;
    }

		.gg-screen {
			width: 640px;
			height: 480px;
		}
}

@media only screen and (min-width: 1280px) {
    .gg-header {
    }

    .gg-book {
        height: 700px;
        overflow: auto;
    }
		.gg-screen {
			width: 640px;
			height: 480px;
		}

	}

.gg-wall {
    max-height: 600px;
    overflow: scroll;
}

.gg-post-it {
    position: relative;
    left: -8px;
}

.bar1, .bar2, .bar3 {
    width: 22px;
    height: 4px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}

.gg-resize {
    animation-name: intro;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    -webkit-transition: height 1s; /* Safari */
    transition: height 1s;
    -webkit-transition-delay: 0.1s; /* Safari */
    transition-delay: 0.1s
    transition-timing-function: ease-in;
}

.gg-resize:hover {
    height: 400px;
}

@keyframes intro {
    from {height: 500px;}
    to {height: 125px;}
}

.gg-width {
    max-width:1564px;
}

.gg-width100 {
    width:100%;
}

@font-face {
  font-family: 'fa-solid-900';
  font-display: auto;
  src: local('fa-solid-900'), url(https://use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.woff2) format('woff2');
}

.gg-button:hover {
	background-color:lightgrey;
	cursor: pointer;
}
