.gg-header {
	width: 100%;
  	background-image: url("../img/2_1709494041.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

@media only screen and (max-width: 480px) {
	.gg-header {
		height: 250px;
		margin-top: 40px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
	.gg-header {
		height: 600px;
		margin-top: 55px;
	}
}

@media only screen and (min-width: 800px) {
	.gg-header {
		height: 800px;
		margin-top: 55px;
	}
}
