<!-- About Section -->
<div class="w3-content w3-padding gg-width" id="about">
	<h3 class="w3-border-bottom w3-border-light-grey w3-padding">
		<a class="w3-button" type="button" href="#about">
			About
		</a>
	</h3>
	<p translate="yes"><?= nl2br('Welcome on this tiny image-board. You can take some snap from the \'/b\' tab or like and comments pics of other people.
     This website is build in raw PHP and VanillaJS.
     It also uses my own PHP MVC REST WTF framework, brilliantly call "Dumb".
     Light as air (7 files/less than 300 lines of code), i think you can read the code in barely 15 minutes,
     clever as …, well, let me think that you will be blown by his undoubted cleverness,
     and powerful as a supersayen,
     come makes some $app->kamehameha() together!
     PS: You can also find an attempt of JS VVC framework of my own conception, proudly call "anGGularJS". Fail harder than the original but who cares?'); ?>
	</p>
</div>
