<!-- Contact Section -->
<div class="w3-content w3-padding gg-width" id="contact">
	<h3 id="contactBtn" class="w3-border-bottom w3-border-light-grey w3-padding">
		<a class="w3-button" type="button" href="#contact">
			Contact
		</a>
	</h3>
	<div>
		<p>Lets get in touch and talk about your next project.</p>
		<form action="/contact" target="#" method="POST">
			<div>
				<label for="name">name</label>
				<input class="w3-input w3-border" type="text" maxlength="30" placeholder="Name" required name="name" id="name">
				<br>
			</div>
			<div>
				<label for="email">email</label>
				<input class="w3-input w3-border" type="email" placeholder="Email" required name="email" id="email">
				<br>
			</div>
			<div>
				<label for="subject">subject</label>
				<input class="w3-input w3-border" type="text" placeholder="Subject" required name="subject" id="subject">
				<br>
			</div>
			<div>
				<label for="message">message</label>
				<textarea class="w3-input w3-border" placeholder="Message" rows="6" required name="message" spellcheck="true" id="message"></textarea>
			</div>
			<div>
				<button class="w3-button w3-black w3-section" type="submit">
					<i class="fa fa-paper-plane w3-margin-right"></i>
					Send
				</button>
			</div>
		</form>
	</div>
</div>
