<div class="w3-content w3-padding gg-template gg-width" id="pictures">
	<h3 id="pictures" class="w3-border-bottom w3-border-light-grey w3-padding">
		<a class="w3-button" type="button" href="#pictures">
			Pictures
		</a>
	</h3>
	<div hidden="">
		<button id="launch" type="button" class="w3-button w3-grey">Last</button>
		<button type="button" class="w3-button w3-grey">Popular</button>
		<div class="w3-row-padding">
			<section id="carroussel" class="w3-row-padding gg-wall">
			</section>
			<div id="carrousselBtn">
				<button type="button" class="w3-button w3-grey" disabled><</button>
				<button type="button" class="w3-button w3-grey" disabled>></button>
			</div>
		</div>
	</div>
</div>
