<div id="Picture" class="w3-container w3-padding-64">
	<section class="w3-col l6 w3-card-4 gg-book">
		<div class="w3-border-bottom w3-border-light-grey w3-padding">
			<h2 id="picTitle">title<i class="w3-button w3-xlarge fa fa-pen w3-hide" alt="edit"></i></h2>
			<span class="w3-opacity w3-large">by author on date</span>
		</div>
		<div class="w3-padding">
			<img width="100%" alt="title">
		</div>
		<h3 id="like" class="w3-right w3-margin-right w3-margin-bottom w3-padding">
			<i class="w3-xlarge fa fa-heart w3-margin-right w3-green w3-button w3-padding-small" title="like"></i>
			0
			<i class="w3-xlarge fa fa-heart-broken w3-margin-left w3-red w3-button w3-padding-small" title="dislike"></i>
		</h3>
	</section>
	<section class="w3-col l6 w3-card gg-book">
		<h2 class="w3-border-bottom w3-border-light-grey w3-padding">Comments</h2>
		<form method="post" action="/comment" id="trollInput" class="w3-container w3-padding w3-border-bottom">
			<div class="w3-hide">
				<input name="id" type="number" value="id" disabled required>
			</div>
			<div>
				<textarea name="comment" width="100%" class="w3-input w3-border" rows="3" placeholder="Troll this!" required spellcheck="true"></textarea>
			</div>
			<div class="submit">
				<button type="button" class="w3-right w3-button w3-black w3-margin-top">
					<i class="fa fa-paper-plane w3-margin-right"></i>
					Troll this
				</button>
			</div>
		</form>
		<div id="comments" class="w3-container w3-padding">	
		</div>
	</section>
</div>
